$primary: #00693e;
$primary-hover: #05a766;
$primary-text: #e4dad1;
$dark: #151413;
$light: #fff;
$error: #9B111E;

$gen_positive: #577b1c;
$gen_positive_border: #bdda8c;
$gen_negative: #994131;
$gen_negative_border: #c88073;
$gen_empty: #4e4e4e;
$gen_empty_border: #808080;
