@font-face {
  font-family: 'BebasNeue';
  src: url('/src/assets/fonts/BebasNeue-Cyrillic.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica-light.woff') format('woff');
  font-weight: 300;
}
