@mixin font_s {
  font-size: 18px;
  line-height: 24px;
}
@mixin font_m {
  font-size: 28px;
  line-height: 32px;
}
@mixin font_l {
  font-size: 36px;
  line-height: 42px;
}
@mixin font_xl {
  font-size: 52px;
  line-height: 60px;
}

@mixin font_subtitle {
  font-size: 32px;
  line-height: 32px;
}
@mixin font_title {
  font-size: 190px;
  line-height: 170px;
}

@mixin font_genetic {
  font-size: 24px;
  line-height: 24px;
}

@mixin font_in_dev {
  font-size: 96px;
  line-height: 100px;
}
